# Pegar os indicadores do BC

<p><b>Sistema Gerenciador de Séries Temporais do BC</b></p>
https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries

<p><b>Módulo para obter os dados em Python</b></p>
https://wilsonfreitas.github.io/python-bcb/sgs.html

## 1.0 Bibliotecas

In [5]:
import mplcyberpunk

from bcb                   import currency
from bcb                   import sgs

import matplotlib.pyplot   as plt
import matplotlib.ticker   as mtick
import matplotlib.dates    as mdates
from matplotlib.dates      import date2num

from datetime              import datetime
from datetime              import timedelta

plt.style.use("cyberpunk")

## 2.0 Dados de Taxa de Juros

In [6]:
# Série SELIC

selic = sgs.get({'selic': 432}, start = '2010-01-01')

selic

            selic
Date
2010-01-01   8.75
2010-01-02   8.75
2010-01-03   8.75
2010-01-04   8.75
2010-01-05   8.75
...           ...
2023-05-27  13.75
2023-05-28  13.75
2023-05-29  13.75
2023-05-30  13.75
2023-05-31  13.75

[4899 rows x 1 columns]

In [ ]:
fig, ax = plt.subplot()

plt.style.use('cyberpunk')

In [ ]:
## 3.0